<% layout("listings/layouts/boilerplate.ejs") %>
<div class="row"></div>
<div class="col-8 offset-2">
    <br><br>
<h3>Create a New Listing</h3>

<form action="/listings" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
            type="text"
            name="listing[title]"
            placeholder="Add a Title"
            class="form-control"
        />
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label><br>
        <textarea
            name="listing[description]"
            class="form-control"
        ></textarea>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Image</label><br>
        <input
            type="text"
            name="listing[image]"
            placeholder="enter image url"
            class="form-control"
        />
    </div>
    <div class="row">

    
    <div class="mb-3  col-md-4">
        <label for="price" class="form-label">Price</label><br>
        <input
            type="number"
            name="listing[price]"
            placeholder="Enter Price"
            class="form-control"
        />
    </div>
    <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label><br>
        <input
            type="text"
            name="listing[country]"
            placeholder="Enter Country"
            class="form-control"
        />
    </div>
</div>

    <div class="mb-3">
        <label for="location" class="form-label">Location</label><br>
        <input
            type="text"
            name="listing[location]"
            placeholder="Enter location"
            class="form-control"
        />
    </div>



    <br><br>
    <button class="btn btn-dark add-btn">Add</button>
    <br>
    <BR></BR>
</form>
</div>
</div>
